

.advantages{
   
    

    & .hover-logo{
        background-color: $primary-bg-hover-logo-color;
        }
    
    &    .list{
           
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            max-width: 450px;
            margin-left: auto; 
            margin-right: auto;


            @media screen and (min-width: 768px) {
                display: flex;
                max-width: 100%;
                flex-wrap: wrap;
                margin: -15px;
            }
         } 

       & .item{
        @media screen and (min-width: 768px) {
            width: calc((100% - 4 * 15px) / 2);
            margin: 15px;
        }

        @media screen and (min-width: 1600px){
            width: calc((100% - 8 * 15px) / 4);
            margin: 15px;
        }
       }
            
         
         
    &   .title{
        margin: 0;
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $primary-title-color;
        
            text-align: center;

            @media screen and (min-width: 1600px){
                text-align: start;
            }
            
        
     }
    
    & .item::before{
        display: block;
        content: '';
        height: 120px;
        background-size: 70px;
        background-repeat: no-repeat ;
        background-position: center;
        background-color: $bg-secondaty;
        padding: 25px 102px;
        border-radius: 4px;
        margin-bottom: 30px;

      
     }

    @each $IconName in $icons { 
        & .#{$IconName}::before{
            background-image: url(../img/#{$IconName}.svg);
        }

         
     }


    & .content{
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color:$primary-text-color;


     }
  
}